[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "describer"]
	path = describer
	url = https://github.com/paulhendricks/describer
[submodule "detector"]
	path = detector
	url = https://github.com/paulhendricks/detector
[submodule "generator"]
	path = generator
	url = https://github.com/paulhendricks/generator
[submodule "gym"]
	path = gym
	url = https://github.com/paulhendricks/gym-r
	subdir = gym
[submodule "titanic"]
	path = titanic
	url = https://github.com/paulhendricks/titanic
