[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "describer"]
	path = describer
	url = https://github.com/paulhendricks/describer
	shallow = true
	registered = true
[submodule "gym"]
	path = gym
	url = https://github.com/paulhendricks/gym-r
	shallow = true
	subdir = gym
	registered = true
[submodule "detector"]
	path = detector
	url = https://github.com/paulhendricks/detector
	shallow = true
	registered = true
[submodule "generator"]
	path = generator
	url = https://github.com/paulhendricks/generator
	shallow = true
	registered = true
[submodule "titanic"]
	path = titanic
	url = https://github.com/paulhendricks/titanic
	shallow = true
	registered = true
